body{
    background-color: rgb(196, 227, 216);
}
#myprofilepic{
    height: 100px;
    width: 75px;
    float: left;
    padding-right: 50px;
    
}
.intro{
    padding-bottom: 50px;
    border-bottom: 2px solid green;
}
.projectsection{
    padding-top: 150px;
    border-bottom: 2px solid green;
}
.hobbies{
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}